<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FSM At Jbara.XYZ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <h2>Auto Devoir FSM</h2><p>A small web application written in python that should help FSM students easily find where they take their exams</p>
    {% block content %}
    {% endblock %}
    <br><br><br><br><br>
    <a href="https://github.com/medanisjbara/autoemploi-fsm">Source Code</a>
  </body>
</html>

