<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#090979" />
    <link rel="icon" href="{{ url_for('static', filename='misc/favicon.ico') }}" sizes="any">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='misc/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='misc/site.webmanifest') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <title>Autodevoir - FSM</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>

