{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="not-found">
      <h2>Oh no!</h2>
      <p class="mid-msg">
          No results were found based on the data your provided.
      </p>
      <p class="mid-msg">
          You can still try the following options :
      </p>
      <p class="last-msg">
          1- Double check your search query and <a href="/">retry again</a>.<br>
          2- Open a new <a href="https://github.com/medanisjbara/autoemploi-fsm/issues/new" target="_blank">issue on github.</a><br>
          3- Contact the creator of this tool (Anis Jbara LGLSI2).<br>
          4- Check upstream manually at <a href="https://fsm.rnu.tn/extranet" target="_blank">FSM-Extranet space.</a>
      </p>
  </div>
</div>
{% endblock %}
