{% extends "base.html" %}
{% block content %}
<h1>No results from your querry, please try again</h1>
<p>Things you can do might include</p>
<ol>
  <li><a href="/">Retry again</a> with your firstname and/or last name</li>
  <li>Open a new <a href="https://github.com/medanisjbara/autoemploi-fsm/issues/new">issue on github</a></li>
  <li>Contact the creator of this page (Anis Jbara LGLSI2)</li>
  <li>Check upstream manually <a href"https://fsm.rnu.tn/extranet">FSM-Extranet space</a></li>
{% endblock %}
