{% extends "base.html" %}
{% block content %}
<div class="content">
  <rayenui></rayenui>
  <form method="POST" target="/find" class="form">
      <input name="input" class="input-text" type="text" placeholder="NAME / CIN">
      <input class="button-submit" type="submit" value="Find">
      <input type="hidden">

  </form>
  <ul class="previously">

  </ul>

  <div class="disclaimer">
      <h2>Important note : </h2>
      <p>This website tries to be as accurate as possible although there still a room for mistakes , with that in
          mind the website authors are not responsible for any issues that might be caused by this tool and if you
          blame them for any consequences they will laugh at you. </p>
  </div>
  <hr>
  <div class="footer">
      <div class="support-dev-footer">
          <span>Support the developer on </span>
          <a title="GitHub repo" href="https://github.com/medanisjbara/autoemploi-fsm"><img class="git-link"
                  src="{{ url_for('static', filename='github.svg') }}" alt="GitHub repo"></a>
      </div>
  </div>
</div>
<div class="credit">
  <span>🥤Frontend by <span><a href="http://rebrand.ly/rayenzaafouri">Zaafouri M.Rayen</a></span>
</div>
{% endblock %}
